.welcome-user {
    display: flex;
    padding: 30px 90px;
    flex-direction: row;
    height: inherit;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.greet-user-container {
    color: white;
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../../assets/winkel_wagen_background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 10px 60px 30px 60px;
    justify-content: flex-start;
}

.welcome-user-outer-container {
    display: flex;
    justify-content: space-around;
}

.greet-email {
    flex-direction: row;
    justify-content: start;
    font-size: 72px;
    padding: 48px 0;
    color: white;
}
