@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.woo-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 90px;
    background-color: wheat;
    flex-wrap: wrap;
    height: fit-content;
}

.wishlist-page {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../assets/winkel_wagen_background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 250px 60px 30px 60px;
    color: white;
    justify-content: flex-start;
}
