.wishlist-h1 {
    font-size: 72px;
    padding: 48px 0;
    color: white;
}


.wishlist-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 60px;
    background-color: wheat;
    flex-wrap: wrap;
    height: fit-content;
}

.warning-icon {
    display: flex;
}

.click-p:hover {
    font-size: large;
    color: hotpink;
}

