@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.about-us-main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    padding: 100px;*/
/*}*/

.title-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    padding: 30px;
    color: black;
}

.video-spaceship {
    display: flex;
    flex-direction: column;
}

.inner-container-about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 1px 30px 1px;
    align-items: center;
    flex-wrap: wrap;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.image-kid-playing-with-toy {
    width: content-box;
}

.p2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: fit-content;
    padding: 5px 30px;
}

.title-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-style: italic;
    padding: 30px;
    color: black;
}




