.form-container-register {
    padding: 25px;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    background-size: cover;
    flex-wrap: wrap;
    min-width: 375px;
    background-color: chocolate;
}

.register-field-note {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 0 25px;
    color: white
}

input {
    width: 250px;
    padding: 7px 4px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.form-footer, p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: auto;
}

.register-success {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: cornsilk;
    padding: 0 40px 0 10px;
}


