@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header button {
    background-color: white;
    font-weight: 600;
    border: none;
    padding: 24px 48px;
    font-size: 20px;
    color: #df7c6d;
}

header button:hover {
    cursor: pointer;
}

header h1 {
    font-size: 72px;
    padding: 48px 0;
    color: white;
}

.inner-container {
    flex-basis: 1200px;
    align-items: center;
    margin: 0 0;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 10px;
}

.instagram-icon, .facebook-icon, .github-icon {
    position: center;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;
}

main h1 {
    font-size: 40px;
    padding: 30px 30px;
    color: black;
}

.form-container {
    width: 400px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    width: 30%;
}

.product-name {
    font-weight: 300;
    color: #df7c6d;
    margin: 20px 0;
}

.product-description {
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
}

.product img {
    width: 300px;
}

.error-message {
    color: red;
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
.scroll-container .indicator {
    height: 100%;
    background: #ee442b;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 90%;
    width: 42px;
    height: 50px;
    border-radius: 100%;
    background: transparent;
    color: #fff;
    z-index: 1;
}

.scroll-to-top .icon {
    position: fixed;
    border-radius: 100%;
    width: 42px;
    height: 50px;
    color: #df7c6d;
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(-3px);
    }
}

