@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar-list-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.userInfo-Form-Container {
    display: flex;
    padding: 30px 90px;
    flex-wrap: wrap;
    background: wheat;
}



