.userprofile-page{
    display: flex;
    flex-direction: column;
}


.user-page-outer-container {
    padding: 30px 0;
    background-color: wheat;
}

.user-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 90px;
    background-color: wheat;
    flex-wrap: wrap;
    height: fit-content;
}

.logout {
    padding: 0 90px;
    display: flex;
    justify-content: flex-end;
}