.userprofile-container {
    display: flex;
    flex-wrap: wrap;
    background: wheat;
}

.userprofile-page{
    display: flex;
    flex-wrap: wrap;
    background: wheat;
}

.profile-header-container {
    display: flex;
    align-items: center;
}
