.customer-nav-bar-outer-container {
    width: 100%;
    height: 41px;
    padding: 5px 90px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e9b716;
}

.customer-nav-bar-outer-container a,
.customer-nav-bar-outer-container a:visited {
    color: white;
    text-decoration: none;
}

.customer-nav-bar-outer-container a:hover {
    text-decoration: underline;
}

.customer-nav-bar-inner-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-for-padding{
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}

.test-underline p:hover {
    text-decoration: underline;
}