.change-password-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    flex-wrap: wrap;
}

.password-change-container {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.password-change-text {
    display: flex;
}

.form-container-update {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    height: fit-content;
}