@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e9b716;
    padding: 30px 60px;
    height: 100px;
    color: white;
    align-items: center;
}






