.cpi-container {

}
.fc-update {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 30px 0;
    flex-wrap: wrap;
    width: 180px;
    height: fit-content;
}

.pc-container {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.pc-text {
    display: flex;
}

